* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: watchwordbold;
    src: url("../assets/Watchword_bold_demo.otf");
}

@font-face {
    font-family: watchwordreg;
    src: url("../assets/Watchword_regular_demo.otf");
}

:root {
    --veronica-main: #0091FF;
    --veronica-second: #FE0170;
    --100nl-main: #EF7D00;
    --100nl-second: #12A638;
    --slam-main: #E50069;
    --slam-second: #007AFF;
    --main-bg: #EEEEEE;
    --second-bg: #FFFFFF;
    --header-bg: #08022D;
    --normal-text: #000000;
    --faded-text: #383737;

    --layout-sc-body:
        "header header header "
        "main main main"
        "player player player";

    /* --layout-main:
        "datum logo-veronica logo-nl logo-slam "
        "uur0 wateennacht nlnonstop1 slamnonstop1"
        "uur1 wateennacht nlnonstop1 slamnonstop1"
        "uur2 wateennacht nlnonstop1 slamnonstop1"
        "uur3 wateennacht nlnonstop1 slamnonstop1"
        "uur4 vnonstop1   nlnonstop1 slamnonstop1"
        "uur5 vnonstop1   nlnonstop1 slamnonstop1"
        "uur6 ekdom       giorgio    marijn"
        "uur7 ekdom       giorgio    ochtendshow"
        "uur8 ekdom       giorgio    ochtendshow"
        "uur9 ekdom       giorgio    ochtendshow"
        "uur10 goudvanwout barry      jarno"
        "uur11 goudvanwout barry      jarno"
        "uur12 sander      barry      housuh"
        "uur13 sander      erik       housuh"
        "uur14 bonanza     erik       thomas"
        "uur15 bonanza     erik       thomas"
        "uur16 woutenfrank somertijd  thomas"
        "uur17 woutenfrank somertijd  middagshow"
        "uur18 woutenfrank somertijd  middagshow"
        "uur19 niek        koen       middagshow"
        "uur20 niek        koen       slamnonstop2"
        "uur21 niek        koen       slamnonstop2"
        "uur22 vnonstop2   nlnonstop2 slamnonstop2"
        "uur23 vnonstop2   nlnonstop2 slamnonstop2"
        "uur24 vnonstop2   nlnonstop2 slamnonstop2"; */
}

h1 {
    font-family: watchwordreg;
    color: var(--second-bg);
    z-index: 15;
    align-content: center;
    padding-left: 1em;
}

h2,
h3 {
    font-family: watchwordbold;
    color: var(--normal-text);
}

.hiddendatum {
    display: none;
}

p {
    font-family: watchwordreg;

}

body {
    display: grid;
    grid-template-areas: var(--layout-sc-body);
    background-color: var(--main-bg);
}

header {
    background-color: var(--header-bg);
    font-family: watchwordreg;
    grid-area: header;
    height: 5em;
    position: sticky;
    z-index: 15;
    top: 0;
    display: flex;
    justify-content: space-between;

    nav {
        background-color: var(--header-bg);
        width: 50%;
        height: 35em;
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 0 0 15px 15px;
        padding-top: 6em;
        translate: -200%;

    }

    button {
        all: unset;
        color: var(--second-bg);
        z-index: 10;

        img {
            width: 3em;
            margin: 1em;
        }
    }

    .btn.is-open img {
        content: url(../assets/x.svg);

    }

    .is-open {
        translate: 0;
    }

    details {
        color: var(--second-bg);
        padding-left: 2em;

        display: flex;
        flex-direction: column;
        gap: 1em;

        summary {
            font-family: watchwordbold;
        }

        a {
            all: unset;
            display: flex;
            flex-direction: column;
            color: var(--second-bg);
        }
    }
}

.player {
    background-color: var(--second-bg);
    width: 98%;
    border-radius: 15px;
    display: grid;
    grid-area: player;
    position: sticky;
    bottom: 7px;
    z-index: 10;
    margin: .5em;
    grid-template-columns: auto max-content;
    grid-template-rows: repeat(2, 1fr);

    h2 {
        padding: .5em .5em 0 .5em;
        grid-column: 1;
        grid-row: 1;
    }

    p {
        padding: 0 .5em 0 .8em;
        grid-column: 1;
        grid-row: 2;
    }

    audio {
        all: unset;


    }

    button {
        all: unset;
        grid-column: 2;
        grid-row: 1/-1;
        padding: .5em;
    }
}

.datum {
    grid-column: 1;
    grid-row: 1;
}

input[type="date"] {
    background-color: var(--main-bg);
    color: var(--faded-text);
    border: unset;
    padding-top: .5em;
    font-family: watchwordreg;
    font-size: 16px;
    text-align: center;


}

::-webkit-calendar-picker-indicator {
    display: none;
}


main {
    grid-area: main;
    display: grid;
    gap: .5rem;
    background-color: var(--main-bg);
    grid-template-columns: auto repeat(3, 1fr);
    grid-template-rows: auto repeat(25, 1fr);
    padding-top: .5em;
    /* padding-bottom: 5em; */
    overflow-x: scroll;
    scrollbar-color: var(--faded-text) var(--main-bg);
    scrollbar-width: thin;

    @media (min-width: 670px) {
        overflow-x: hidden;
    }
}

.timeline {
    width: 100%;
    height: 2px;
    background-color: #08022D99;
    position: absolute;
    /* top: calc(var(--time) / 24 * 100% - 19px); */
    top: calc(( var(--hours) + var(--mins) / 60 ) / 25 * 100% );
}

.zender {
    display: grid;
    grid-template-rows: subgrid;
    grid-column: var(--col-start);
    grid-row: 1 / -1;
}

section {
    article {
        background-color: var(--second-bg);
        border-radius: 15px;
        grid-row: calc(var(--row-start) + 1) / calc(var(--row-end) + 1);
        display: grid;
        padding: .5em;

        h3 {
            font-size: 1em;
        }

        p {
            align-content: end;
        }
    }

    /* veronica */
    .logo-veronica {
        width: 7em;
    }

    /* 100%nl */
    .logo-nl {
        width: 7em;
    }

    /* slam! */
    .logo-slam {
        width: 7em;
    }
}

.tijden {

    display: grid;
    grid-template-rows: subgrid;
    grid-template-columns: subgrid;
    grid-column: var(--col-start) / var(--col-end);
    grid-row: 2/-1;

    color: var(--faded-text);
    text-align: center;
    position: relative;

    p {
        grid-column: 1;
    }

}